<div class="col-12 mt-3">
    <div class="card card-primary w3-center">
        <div class="card-header w3-dark-grey">
            <h3 class="card-title">Welcome to <b><a href="/profile_id/{{{user._id}}}">{{{user.username}}}</a></b>'s barbershop</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <p>{{{barbershop.title}}}</p>
            </div>
            <div class="form-group">
                <p>{{{barbershop.description}}}</p>
            </div>
            <div class="form-group">
                <p>{{{barbershop.location}}}</p>
            </div>
            <div class="w3-margin">
                <div class="w3-padding w3-black w3-margin-bottom">
                    <h4>Services</h4>
                </div>
                <div class="da-floatbox">
                    {{#each barbershop.services}}
                    <div class="w3-margin-bottom da-item w3-col s12 m6 l4">
                        <div class="da-content da-content-styling">
                            <b>
                                <p>{{{service_title}}}</p>
                            </b>
                            <p>{{{service_description}}}</p>
                            <p>${{{service_price}}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>