<div class="w3-container pb-5">
    <form id="user_profile_form" class="card-1" action="/api/user/profile" method="POST" enctype="multipart/form-data">
        <div>
            <label>Profile Picture</label>
            {{#if user.profile_image_upload}}
                <img class="user_profile_image" src="/uploads/profile-pictures/{{{user.profile_image_upload}}}">
            {{else}}
                <i class="far fa-user"></i>
            {{/if}}
        </div>
        <div>
            <label for="file_input">New profile image</label>
            <input id="file_input" type="file" name="profile_image_upload" placeholder="Your profile picture" /><br>
        </div>
        <div>
            <label>Username</label>
            <p>{{{user.username}}}</p>
        </div>
        <div>
            <label>Email</label>
            <p>{{{user.email}}}</p>
        </div>
        <div>
            <label>Location</label>
            <input type="text" name="location" id="location" value="{{{user.location.location_name}}}">
            <input type="hidden" name="latitude" id="latitude" value="{{{user.location.latitude}}}">
            <input type="hidden" name="longitude" id="longitude" value="{{{user.location.longitude}}}">
            <div id="mapid"></div>
        </div>
        <div>
            <label for="status">Status</label>
            <input type="text" id="profile_status" name="profile_status" placeholder="Write your status..." value="{{{user.profile_status}}}">
        </div>
        <div>
            <label for="" class="submit_label"></label>
            <button type="submit">Save</button>
        </div>
    </form>
</div>