<div class="w3-container pb-5">
    <div id="user_profile_form" class="card-1">
        <div>
            <label>Profile Picture</label>
            {{#if user.profile_image_upload}}
            <img src="/uploads/profile-pictures/{{{user.profile_image_upload}}}">
            {{else}}
            <i class="far fa-user"></i>
            {{/if}}
        </div>
        <div>
            <label>Username</label>
            <p>{{{user.username}}}</p>
        </div>
        <div>
            <label>Email</label>
            <p>{{{user.email}}}</p>
        </div>
        <div>
            <label for="status">Status</label>
            <p>{{{user.profile_status}}}</p>
        </div>
        <div>
            <label for="">Barbershop</label>
            <p>
                <b><a href="/barbershop_id/{{{barbershop._id}}}">{{{barbershop.title}}}</a></b>
            </p>
        </div>
        <div>
            <label for="status">Send message</label>
            <i class="fas fa-envelope-square"></i>
        </div>
    </div>
</div>